body {   
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 40, 40);
}
.jam{
  background-color: rgb(63, 71, 71);
  color: aqua;
  width: 270px;
  height: 100px;
  text-align: center;
  border-radius: 16px;
  border: 1px solid rgb(54, 50, 50);
  box-shadow: 2px 2px 2px rgb(54, 50, 50);
}
#clock{
  text-align: center;
  margin-top: 17px;
  font-size: 50px;
}
